[core]
    editor = vim
    excludesfile = /home/jdnovick/.gitignore
    autocrlf = input
[user]
    name = Joshua Novick
    email = JDNovick@infiniteenergy.com
[http]
#    sslCAinfo = /c/Users/jdnovick/AppData/Roaming/iei/certs/IEIBundle.crt
#    sslBackend = openssl
[alias]
    cleanup = !git fetch origin --prune && git branch --merged origin/master | grep -v 'master$' | xargs git branch -d
    info = !~/.git-scripts/gitInfo.sh
    start = !~/.git-scripts/gitStart.sh
    redo = !git commit -a --amend -C HEAD && git push --force-with-lease
    vs = !explorer.exe *.sln
    go = !cd /c/Users/jdnovick/Documents/git/
    compare = "!f() { \
        OTHER=${2:-$(git symbolic-ref -q HEAD --short)}; \
        git rev-list \"$1\"...\"$2\" --count --left-right | awk -v A=\"$1\" -v B=\"$OTHER\" '{print A,\"is\",\"\\033[32m\"$1\"\\033[39m\",\"commits ahead of\",B,\"and\",\"\\033[31m\"$2\"\\033[39m\",\"behind\"}'; \
    }; f"
    mr = push -u origin $(git symbolic-ref -q HEAD)
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
