[core]
    editor = vim
    excludesfile = /home/joshua/.gitignore
    autocrlf = input
    hooksPath = ~/.git-scripts/hooks
[user]
    name = Joshua Novick
    email = j.novick@ext.tricentis.com
[alias]
    cleanup = !git fetch origin --prune && git branch --merged origin/master | grep -v 'master$' | xargs git branch -d
    changelog = !~/.git-scripts/gitChangelog.sh
    info = !~/.git-scripts/gitInfo.sh
    start = !~/.git-scripts/gitStart.sh
    redo = !git commit -a --amend -C HEAD && git push --force-with-lease
    vs = !explorer.exe *.sln
    go = !cd /c/Users/josno/Documents/git/
    compare = "!f() { \
        OTHER=${2:-$(git symbolic-ref -q HEAD --short)}; \
        git rev-list \"$1\"...\"$2\" --count --left-right | awk -v A=\"$1\" -v B=\"$OTHER\" '{print A,\"is\",\"\\033[32m\"$1\"\\033[39m\",\"commits ahead of\",B,\"and\",\"\\033[31m\"$2\"\\033[39m\",\"behind\"}'; \
    }; f"
    mr = "!f() { git push -u origin $(git symbolic-ref -q HEAD) }; f"
    track = "!f() { git config branch.$1.remote origin && git config branch.$1.merge refs/heads/$1 }; f"
[push]
	default = current
